/* src/app/components/register/register.component.css */
.container {
    max-width: 700px;
    margin: 50px auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #243b55;
}

h2 {
    text-align: center;
    color: #f8f8f8;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    color: #fff;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #1a2e44;
    color: #fff;
    border: none;
    font-family: "Orbitron", sans-serif;
}

button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Orbitron", sans-serif;
}

button:hover {
    background-color: #0056b3;
}